@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Rajdhani', sans-serif;
}

/* Style scroll bar */
::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-track {
	background: #333;
}

::-webkit-scrollbar-thumb {
	background: #4edadd;
}

::-webkit-scrollbar-thumb:hover {
	background: #4edadd55;
}
